{% extends "layout.html" %}
{% block content %}
<div class="content-section">
<!-- inserire immagine -->
	<form method="POST" action="">
		 {{ form.hidden_tag() }}
		 <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.fuel.label(class="form-control-label") }}
                {% if form.fuel.errors %}
                    {{ form.fuel(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.fuel.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.fuel(class="form-control form-control-lg") }}
                {% endif %}
            </div>
             <div class="form-group">
                {{ form.matriculation.label(class="form-control-label") }}
                {% if form.matriculation.errors %}
                    {{ form.matriculation(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.matriculation.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.matriculation(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.kmattuali.label(class="form-control-label") }}
                {% if form.kmattuali.errors %}
                    {{ form.kmattuali(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.kmattuali.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.kmattuali(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.dataRevisione.label(class="form-control-label") }}
                {% if form.dataRevisione.errors %}
                    {{ form.dataRevisione(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dataRevisione.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dataRevisione(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.kmTagliando.label(class="form-control-label") }}
                {% if form.kmTagliando.errors %}
                    {{ form.kmTagliando(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.kmTagliando.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.kmTagliando(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.dataAssicurazione.label(class="form-control-label") }}
                {% if form.dataAssicurazione.errors %}
                    {{ form.dataAssicurazione(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dataAssicurazione.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dataAssicurazione(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.dataBollo.label(class="form-control-label") }}
                {% if form.dataBollo.errors %}
                    {{ form.dataBollo(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dataBollo.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dataBollo(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.kmMedi.label(class="form-control-label") }}
                {% if form.kmMedi.errors %}
                    {{ form.kmMedi(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.kmMedi.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.kmMedi(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>





</div>
{% endblock content %}